//.not-handheld{
@media (min-width:769px){
    .customize-btn{
        &:hover, &:focus{
            background:@red;
            color:black;
        }
    }
    .top-header{
        .customize-btn{
            &:hover, &:focus{
                color:#eee;
            }
        }
    }
    .header-menu {
        .nav-item{
            &:hover, &:focus{
                color:rgba(30, 30, 30, 0.58);
            }
        }
    }
    .category-article{
        &:hover, &:focus{
            .flipper{
                .transform(rotateY(180deg));
            }
        }
    }
    .small-article{
        .frame{
            &:hover, &:focus{
                &::after{
                    .transform(~"translateX(-50%) translateY(-50%) scale(1)");
                    opacity:1;
                }
                &::before{
                    opacity:1;
                }
            }
        }
    }

    .text-stripe{
        .link{
            &:hover, &:focus{
                color:#222;
                &::after{
                    background:#222;
                }
            }
        }
    }
    .instagram-follow{
        &:hover, &:focus{
            &::before{
                color:#222;
            }
        }
    }
    .small-article{
        .add-to-cart-action{
            &:hover, &:focus{
                color:@red;
                &::before{
                    color:@red;
                    margin-right:8px;
                }
            }
        }
    }
    .keyword-input{
        .add-keyword{
            &:hover, &:focus{
                text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
            }
        }
    }
    .slideshow{
        .slideshow-navigation{
            li:not(.active){
                &:hover, &:focus{
                    background:rgba(221,221,221,0.7);
                }
            }
        }
    }
    .ghost-btn{
        &:hover, &:focus{
            background:white;
            color:#111;
        }
        &.ghost-black{
            &:hover, &:focus{
                background:#111;
                color:white;
            }
        }
        &.ghost-red{
            &:hover, &:focus{
                background:@red;
                color:white;
            }
        }
    }
    .home-categories{
        .category{
            a{
                &:hover, &:focus{
                    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .featured-box{
        &:hover, &:focus{
            .frame{
                &::before{
                    background:rgba(255, 255, 255, 0.4);
                }
            }
            .content{
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
            }
            &.invert{
                .frame{
                    &::before{
                        background:rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }

    }
    .random-article{
        &:hover, &:focus{
            .content{
                .title{
                    color:white;
                }
                &::before{
                    height:100%;
                }
            }
        }
    }
    .product-details-popup{
        .product-swiper{
            .arrows{
                &:hover, &:focus{
                    background:rgba(230, 230, 230, 0.85);
                    &.left-arrow{
                        &::before{
                            left:~"calc(50% - 5px)";
                        }
                    }
                    &.right-arrow{
                        &::before{
                            left:~"calc(50% + 5px)";
                        }
                    }
                }
            }
        }
    }
}
